.searchBox {
    width: 300px;
    font-size: 1.1rem;
    border: 1px solid var(--es-border-gray);
    border-radius: 8px;
    padding: 0.8rem;
    background-color: #fff;
}

@media screen and (max-width: 720px) {
    .searchBox {
        margin: 0;
       
    }
}