.container {
    max-width: 1560px;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--es-primary-light-200);
    min-height: 100vh;
   
}

@media screen and (max-width:480px) {
    .container {
        padding: 1rem;
    }
}